@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(0,0,0);
  background: #111827
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar{
  display: none;
}

.xaxis text{
  fill:"#ffffff"
}


.apexcharts-legend span{
  color: white !important;
}